.index {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.index .div {
  background-color: #ffffff;
  position: relative;
}

.index .overlap {
  left: 0;
  position: absolute;
  top: 0;
}

.index .section {
  background-color: #000000;
  left: 0;
  position: absolute;
  top: 0;
}

.index .div-elementor {
  position: relative;
}

.index .div-elementor-widget {
  left: 0;
  position: absolute;
  top: 0;
}

.index .trollface-png {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/trollface-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  top: 10px;
}

.index .link-wrapper {
  position: absolute;
  top: 0;
}

.index .link {
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 30px;
  height: 40px;
  left: 74px;
  overflow: hidden;
  position: relative;
  top: 29px;
  width: 140px;
}

.index .text-wrapper {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 800;
  height: 27px;
  left: 13px;
  letter-spacing: 3px;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 5px;
  white-space: nowrap;
  width: 114px;
}

.index .section-wrapper {
  background-color: #000000;
  height: 628px;
  left: 0;
  position: absolute;
}

.index .section-2 {
  height: 308px;
  position: relative;
  top: 160px;
  width: 1120px;
}

.index .div-elementor-widget-2 {
  height: 308px;
  left: 0;
  position: absolute;
  top: 0;
  width: 616px;
}

.index .heading {
  left: 10px;
  top: 56px;
  width: 596px;
}

.index .text-wrapper-2 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 90px;
  font-weight: 800;
  height: 127px;
  left: 0;
  letter-spacing: 3px;
  line-height: 90px;
  position: absolute;
  top: -20px;
  width: 344px;
}

.index .div-wrapper {
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 596px;
}

.index .heading-2 {
  height: 25px;
  left: 0;
  position: absolute;
  top: 110px;
  width: 596px;
}

.index .text-wrapper-3 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 600;
  height: 28px;
  left: 0;
  letter-spacing: 3px;
  line-height: 25px;
  position: absolute;
  top: -3px;
  white-space: nowrap;
  width: 246px;
}

.index .div-elementor-widget-3 {
  height: 40px;
  left: 0;
  position: absolute;
  top: 155px;
  width: 596px;
}

.index .link-2 {
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 30px;
  height: 40px;
  overflow: hidden;
  position: relative;
  width: 165px;
}

.index .text-wrapper-4 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 800;
  height: 27px;
  left: 29px;
  letter-spacing: 3px;
  line-height: 27px;
  position: absolute;
  top: 6px;
  white-space: nowrap;
  width: 108px;
}

.index .heading-3 {
  height: 25px;
  left: 10px;
  position: absolute;
  top: 166px;
  width: 596px;
}

.index .div-elementor-widget-4 {
  height: 40px;
  left: 10px;
  position: absolute;
  top: 211px;
  width: 596px;
}

.index .trollface-png-wrapper {
  height: 308px;
  left: 616px;
  position: absolute;
  top: 0;
  width: 504px;
}

.index .trollface-png-2 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/trollface-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 288px;
  left: 78px;
  position: relative;
  top: 10px;
  width: 347px;
}

.index .section-3 {
  background: radial-gradient(50% 50% at 50% 50%, rgb(160, 160, 160) 0%, rgb(255, 255, 255) 70%);
  height: 717px;
  left: 0;
  position: absolute;
}

.index .div-elementor-shape {
  height: 60px;
  left: 0;
  position: absolute;
  top: -1px;
}

.index .heading-listed-in {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 800;
  height: 40px;
  letter-spacing: 3px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 159px;
  white-space: nowrap;
  width: 836px;
}

.index .section-4 {
  height: 106px;
  position: absolute;
  top: 220px;
  width: 1140px;
}

.index .div-elementor-column {
  height: 106px;
  left: 0;
  position: absolute;
  top: 0;
  width: 190px;
}

.index .link-full-gate-io {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---full-gate-io-logo-1536x352-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 32px;
  left: 25px;
  position: relative;
  top: 37px;
  width: 140px;
}

.index .link-HTX-logo-wrapper {
  height: 106px;
  left: 190px;
  position: absolute;
  top: 0;
  width: 190px;
}

.index .link-HTX-logo {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---htx-logo-e1705957924474-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 56px;
  left: 25px;
  position: relative;
  top: 25px;
  width: 140px;
}

.index .div-elementor-column-2 {
  height: 106px;
  left: 380px;
  position: absolute;
  top: 0;
  width: 190px;
}

.index .link-3 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---1-xxpjizoimoywt69edwqita-removebg-preview-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 37px;
  left: 25px;
  position: relative;
  top: 34px;
  width: 140px;
}

.index .link-full-lbank-logo-wrapper {
  height: 106px;
  left: 570px;
  position: absolute;
  top: 0;
  width: 190px;
}

.index .link-full-lbank-logo {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---full-lbank-logo-1536x291-webp@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 27px;
  left: 25px;
  position: relative;
  top: 40px;
  width: 140px;
}

.index .div-elementor-column-3 {
  height: 106px;
  left: 760px;
  position: absolute;
  top: 0;
  width: 190px;
}

.index .link-4 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---16450-6702b0f285393-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 41px;
  left: 25px;
  position: relative;
  top: 32px;
  width: 140px;
}

.index .link-full-bitmart-wrapper {
  height: 106px;
  left: 950px;
  position: absolute;
  top: 0;
  width: 190px;
}

.index .link-full-bitmart {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---full-bitmart-logo-1536x396-webp@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 36px;
  left: 25px;
  position: relative;
  top: 35px;
  width: 140px;
}

.index .section-5 {
  height: 120px;
  position: absolute;
  top: 326px;
  width: 1140px;
}

.index .div-elementor-column-4 {
  height: 120px;
  left: 0;
  position: absolute;
  top: 0;
  width: 190px;
}

.index .link-5 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---f9c66e7dd1c6e518ba49b8a037a386c2-removebg-preview-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  left: 25px;
  position: relative;
  top: 41px;
  width: 140px;
}

.index .link-screenshot-wrapper {
  height: 120px;
  left: 190px;
  position: absolute;
  top: 0;
  width: 190px;
}

.index .link-screenshot {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---screenshot-2-removebg-preview-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 40px;
  left: 25px;
  position: relative;
  top: 40px;
  width: 140px;
}

.index .div-elementor-column-5 {
  height: 120px;
  left: 380px;
  position: absolute;
  top: 0;
  width: 190px;
}

.index .link-screenshot-2 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---screenshot-3-removebg-preview-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 35px;
  left: 25px;
  position: relative;
  top: 42px;
  width: 140px;
}

.index .link-ac-wrapper {
  height: 120px;
  left: 570px;
  position: absolute;
  top: 0;
  width: 190px;
}

.index .link-ac {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---0a27c-1-zwfoeuqhsnxudcesnr6la-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 24px;
  left: 25px;
  position: relative;
  top: 49px;
  width: 140px;
}

.index .link-review-wrapper {
  height: 120px;
  left: 760px;
  position: absolute;
  top: 0;
  width: 190px;
}

.index .link-review {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---review-c0fd20ac-795f-4d10-afd3-189660698534-image-0-85396@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 70px;
  left: 25px;
  position: relative;
  top: 25px;
  width: 140px;
}

.index .link-download-wrapper {
  height: 120px;
  left: 950px;
  position: absolute;
  top: 0;
  width: 190px;
}

.index .link-download {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---download-removebg-preview-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  left: 25px;
  position: relative;
  top: 41px;
  width: 140px;
}

.index .section-6 {
  height: 111px;
  position: absolute;
  top: 446px;
  width: 1380px;
}

.index .link-bitrue-logo-wrapper {
  height: 111px;
  left: 0;
  position: absolute;
  top: 0;
  width: 172px;
}

.index .link-bitrue-logo {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---bitrue-logo-1-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 38px;
  left: 25px;
  position: relative;
  top: 36px;
  width: 122px;
}

.index .link-full-poloniex-wrapper {
  height: 111px;
  left: 172px;
  position: absolute;
  top: 0;
  width: 172px;
}

.index .link-full-poloniex {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---full-poloniex-logo-removebg-preview-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 37px;
  left: 25px;
  position: relative;
  top: 37px;
  width: 122px;
}

.index .div-elementor-column-6 {
  height: 111px;
  left: 345px;
  position: absolute;
  top: 0;
  width: 172px;
}

.index .link-screenshot-3 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---screenshot-2-removebg-preview-2-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 31px;
  left: 25px;
  position: relative;
  top: 40px;
  width: 122px;
}

.index .link-images-removebg-wrapper {
  height: 111px;
  left: 518px;
  position: absolute;
  top: 0;
  width: 172px;
}

.index .link-images-removebg {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---images-removebg-preview-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 23px;
  left: 25px;
  position: relative;
  top: 46px;
  width: 122px;
}

.index .link-full-tapbit-wrapper {
  height: 111px;
  left: 690px;
  position: absolute;
  top: 0;
  width: 172px;
}

.index .link-full-tapbit {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---full-tapbit-logo-removebg-preview-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 45px;
  left: 25px;
  position: relative;
  top: 33px;
  width: 122px;
}

.index .div-elementor-column-7 {
  height: 111px;
  left: 862px;
  position: absolute;
  top: 0;
  width: 172px;
}

.index .link-6 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---1-mklrvwquoktlm08i6l8x6q-removebg-preview-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 61px;
  left: 25px;
  position: relative;
  top: 25px;
  width: 122px;
}

.index .div-elementor-column-8 {
  height: 111px;
  left: 1035px;
  position: absolute;
  top: 0;
  width: 172px;
}

.index .link-screenshot-4 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---screenshot-3-removebg-preview-1-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 39px;
  left: 25px;
  position: relative;
  top: 36px;
  width: 122px;
}

.index .link-digifinex-svg-wrapper {
  height: 111px;
  left: 1208px;
  position: absolute;
  top: 0;
  width: 172px;
}

.index .link-digifinex-svg {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---digifinex-svg-1536x280-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 22px;
  left: 25px;
  position: relative;
  top: 46px;
  width: 122px;
}

.index .section-7 {
  left: 0;
  position: absolute;
}

.index .img {
  height: 60px;
  left: 0;
  position: absolute;
  top: -1px;
}

.index .div-elementor-shape-2 {
  height: 60px;
  left: 0;
  position: absolute;
  top: 738px;
}

.index .div-elementor-2 {
  height: 597px;
  position: absolute;
  top: 100px;
  width: 1140px;
}

.index .div-elementor-widget-5 {
  height: 597px;
  left: 0;
  position: absolute;
  top: 0;
  width: 570px;
}

.index .div-2 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/a84eca7b65b0afcc6c17ffcaa2b23ee4-jpg.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 577px;
  left: 10px;
  position: relative;
  top: 10px;
  width: 550px;
}

.index .div-elementor-widget-6 {
  height: 597px;
  left: 570px;
  position: absolute;
  top: 0;
  width: 570px;
}

.index .heading-4 {
  position: absolute;
  top: 10px;
}

.index .text-wrapper-5 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 80px;
  font-weight: 800;
  height: 113px;
  left: 110px;
  letter-spacing: 3px;
  line-height: 80px;
  position: absolute;
  text-align: center;
  top: -18px;
  width: 331px;
}

.index .heading-5 {
  height: 80px;
  left: 1px;
  position: absolute;
  top: 0;
  width: 550px;
}

.index .text-wrapper-6 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 80px;
  font-weight: 800;
  height: 113px;
  left: 110px;
  letter-spacing: 3px;
  line-height: 80px;
  position: absolute;
  text-align: center;
  top: -57px;
  width: 331px;
}

.index .TROLL-COIN-is-a-wrapper {
  height: 261px;
  left: 0;
  position: absolute;
  top: 61px;
  width: 522px;
}

.index .TROLL-COIN-is-a {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 228px;
  left: 1px;
  letter-spacing: 3px;
  line-height: 30px;
  position: absolute;
  top: 16px;
  width: 521px;
}

.index .heading-6 {
  height: 225px;
  left: 10px;
  position: absolute;
  top: 110px;
  width: 550px;
}

.index .p {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24.6px;
  font-weight: 700;
  height: 228px;
  left: 0;
  letter-spacing: 3px;
  line-height: 25px;
  position: absolute;
  top: -3px;
  width: 521px;
}

.index .screenshot-png {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/screenshot-7-png.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 163px;
  left: 10px;
  position: absolute;
  top: 355px;
  width: 550px;
}

.index .div-elementor-3 {
  position: relative;
}

.index .div-elementor-widget-7 {
  left: 0;
  position: absolute;
  top: 0;
}

.index .trollface-png-3 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/trollface-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .connect-wrapper {
  position: absolute;
}

.index .section-8 {
  background-color: #000000;
  left: 0;
  position: absolute;
}

.index .section-9 {
  left: 10px;
  position: relative;
}

.index .div-elementor-widget-8 {
  left: 0;
  position: absolute;
  top: 0;
}

.index .heading-7 {
  height: 90px;
  left: 0;
  position: absolute;
  top: 0;
  width: 532px;
}

.index .text-wrapper-7 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 90px;
  font-weight: 800;
  height: 127px;
  left: 94px;
  letter-spacing: 3px;
  line-height: 90px;
  position: absolute;
  text-align: center;
  top: -20px;
  width: 344px;
}

.index .heading-8 {
  height: 28px;
  left: 143px;
  position: absolute;
  top: 108px;
  width: 246px;
}

.index .text-wrapper-8 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 25px;
  font-weight: 600;
  height: 28px;
  left: 0;
  letter-spacing: 3px;
  line-height: 25px;
  position: absolute;
  top: -1px;
  white-space: nowrap;
  width: 246px;
}

.index .div-elementor-widget-9 {
  height: 41px;
  left: 183px;
  position: absolute;
  top: 155px;
  width: 166px;
}

.index .text-wrapper-9 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 75px;
  font-weight: 800;
  height: 106px;
  left: 0;
  letter-spacing: 3px;
  line-height: 75px;
  position: absolute;
  text-align: center;
  top: -1px;
  width: 289px;
}

.index .heading-9 {
  height: 28px;
  left: 63px;
  position: absolute;
  top: 103px;
  width: 246px;
}

.index .div-elementor-widget-10 {
  height: 41px;
  left: 102px;
  position: absolute;
  top: 150px;
  width: 166px;
}

.index .link-7 {
  border: 1px solid;
  border-color: #ffffff;
  border-radius: 30px;
  height: 40px;
  left: 1px;
  overflow: hidden;
  position: relative;
  width: 165px;
}

.index .text-wrapper-10 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 18px;
  font-weight: 800;
  height: 27px;
  left: 29px;
  letter-spacing: 3px;
  line-height: 27px;
  position: absolute;
  text-align: center;
  top: 6px;
  white-space: nowrap;
  width: 108px;
}

.index .div-elementor-widget-11 {
  height: 308px;
  position: absolute;
}

.index .trollface-png-4 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/trollface-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 288px;
  position: relative;
  top: 10px;
  width: 347px;
}

.index .heading-HOW-TO-BUY {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 50px;
  font-weight: 800;
  height: 50px;
  letter-spacing: 3px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 59px;
  white-space: nowrap;
  width: 390px;
}

.index .div-elementor-wrapper {
  background-color: #0000008f;
  border: 1px solid;
  border-color: #ffffff;
  height: 191px;
  position: absolute;
  top: 150px;
  width: 1120px;
}

.index .div-elementor-4 {
  height: 158px;
  left: 17px;
  position: relative;
  top: 17px;
  width: 1087px;
}

.index .untitled-design-wrapper {
  height: 158px;
  left: 0;
  position: absolute;
  top: 0;
  width: 252px;
}

.index .untitled-design {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/untitled-design-2023-03-30t212906-738-webp@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 138px;
  left: 57px;
  position: relative;
  top: 10px;
  width: 138px;
}

.index .div-elementor-widget-12 {
  height: 158px;
  left: 252px;
  position: absolute;
  top: 0;
  width: 834px;
}

.index .heading-10 {
  height: 30px;
  left: 10px;
  position: absolute;
  top: 21px;
  width: 814px;
}

.index .text-wrapper-11 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 800;
  height: 42px;
  left: 0;
  letter-spacing: 3px;
  line-height: 30px;
  position: absolute;
  top: -7px;
  width: 298px;
}

.index .download-metamask-or-wrapper {
  height: 66px;
  left: 10px;
  position: absolute;
  top: 71px;
  width: 814px;
}

.index .download-metamask-or {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  height: 69px;
  left: 0;
  letter-spacing: 3px;
  line-height: 22px;
  position: absolute;
  top: -3px;
  width: 804px;
}

.index .section-10 {
  background-color: #0000008f;
  border: 1px solid;
  border-color: #ffffff;
  height: 191px;
  position: absolute;
  top: 381px;
  width: 1120px;
}

.index .untitled-design-2 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/untitled-design-2023-03-30t213620-680-webp@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 138px;
  left: 57px;
  position: relative;
  top: 10px;
  width: 138px;
}

.index .heading-11 {
  height: 30px;
  left: 10px;
  position: absolute;
  top: 10px;
  width: 814px;
}

.index .text-wrapper-12 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 800;
  height: 42px;
  left: 0;
  letter-spacing: 3px;
  line-height: 30px;
  position: absolute;
  top: -7px;
  width: 275px;
}

.index .have-BNB-in-your-wrapper {
  height: 88px;
  left: 10px;
  position: absolute;
  top: 60px;
  width: 814px;
}

.index .have-BNB-in-your {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20.8px;
  font-weight: 400;
  height: 91px;
  left: 0;
  letter-spacing: 3px;
  line-height: 22px;
  position: absolute;
  top: -3px;
  width: 801px;
}

.index .section-11 {
  background-color: #0000008f;
  border: 1px solid;
  border-color: #ffffff;
  height: 213px;
  position: absolute;
  top: 613px;
  width: 1120px;
}

.index .div-elementor-5 {
  height: 180px;
  left: 17px;
  position: relative;
  top: 17px;
  width: 1087px;
}

.index .uniswap-webp-wrapper {
  height: 180px;
  left: 0;
  position: absolute;
  top: 0;
  width: 252px;
}

.index .uniswap-webp {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/uniswap-2-webp@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 138px;
  left: 57px;
  position: relative;
  top: 21px;
  width: 138px;
}

.index .div-elementor-widget-13 {
  height: 180px;
  left: 252px;
  position: absolute;
  top: 0;
  width: 834px;
}

.index .text-wrapper-13 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 800;
  left: 0;
  letter-spacing: 3px;
  line-height: 30px;
  position: absolute;
}

.index .connect-to-wrapper {
  left: 10px;
  position: absolute;
  width: 814px;
}

.index .connect-to {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  height: 113px;
  left: 0;
  letter-spacing: 3px;
  line-height: 22px;
  position: absolute;
  width: 814px;
}

.index .section-12 {
  background-color: #0000008f;
  border: 1px solid;
  border-color: #ffffff;
  height: 169px;
  position: absolute;
  top: 866px;
  width: 1120px;
}

.index .div-elementor-6 {
  height: 136px;
  left: 17px;
  position: relative;
  top: 17px;
  width: 1087px;
}

.index .div-elementor-widget-14 {
  height: 136px;
  left: 0;
  position: absolute;
  top: 0;
  width: 252px;
}

.index .trollface-png-5 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/trollface-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 116px;
  left: 56px;
  position: relative;
  top: 10px;
  width: 139px;
}

.index .div-elementor-widget-15 {
  height: 136px;
  left: 252px;
  position: absolute;
  top: 0;
  width: 834px;
}

.index .text-wrapper-14 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 800;
  height: 42px;
  left: 0;
  letter-spacing: 3px;
  line-height: 30px;
  position: absolute;
  top: -7px;
  width: 390px;
}

.index .switch-BNB-for-TROLL-wrapper {
  height: 66px;
  left: 10px;
  position: absolute;
  top: 60px;
  width: 814px;
}

.index .switch-BNB-for-TROLL {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  height: 69px;
  left: 0;
  letter-spacing: 3px;
  line-height: 22px;
  position: absolute;
  top: -3px;
  width: 794px;
}

.index .section-13 {
  background-color: #ffffff;
  height: 677px;
  left: 0;
  position: absolute;
}

.index .div-elementor-shape-3 {
  height: 60px;
  left: 0;
  position: absolute;
  top: -1px;
}

.index .div-elementor-shape-4 {
  height: 60px;
  left: 0;
  position: absolute;
  top: 618px;
}

.index .heading-TOKENOMICS {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 50px;
  font-weight: 800;
  height: 50px;
  letter-spacing: 3px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 109px;
  white-space: nowrap;
  width: 409px;
}

.index .section-14 {
  background-color: #000000;
  border: 1px solid;
  height: 387px;
  position: absolute;
  top: 180px;
  width: 1120px;
}

.index .div-elementor-7 {
  height: 384px;
  left: 2px;
  position: relative;
  top: 2px;
  width: 1117px;
}

.index .div-elementor-widget-16 {
  height: 384px;
  left: 0;
  position: absolute;
  top: 0;
  width: 558px;
}

.index .heading-12 {
  position: absolute;
}

.index .text-wrapper-15 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 800;
  height: 42px;
  letter-spacing: 3px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  width: 255px;
}

.index .heading-13 {
  position: absolute;
}

.index .text-wrapper-16 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 25.5px;
  font-weight: 700;
  height: 34px;
  letter-spacing: 3px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  white-space: nowrap;
  width: 341px;
}

.index .tax-sell-tax-buy-wrapper {
  position: absolute;
}

.index .tax-sell-tax-buy {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 3px;
  line-height: 25px;
  position: absolute;
  text-align: center;
}

.index .div-elementor-widget-wrapper {
  height: 384px;
  left: 558px;
  position: absolute;
  top: 0;
  width: 558px;
}

.index .troll-face-gif-wrapper {
  background-color: #ffffff;
  height: 324px;
  left: 30px;
  position: relative;
  top: 30px;
  width: 498px;
}

.index .troll-face-gif {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/troll-face-44-gif.gif);
  background-position: 50% 50%;
  background-size: cover;
  height: 324px;
}

.index .overlap-wrapper {
  background-color: #000000;
  height: 689px;
  left: 0;
  position: absolute;
}

.index .overlap-group {
  height: 689px;
  position: relative;
}

.index .div-elementor-8 {
  background-color: #000000;
  height: 689px;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
}

.index .heading-ROADMAP {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 50px;
  font-weight: 800;
  height: 50px;
  letter-spacing: 3px;
  line-height: 50px;
  position: absolute;
  text-align: center;
  top: 59px;
  white-space: nowrap;
  width: 299px;
}

.index .section-15 {
  height: 166px;
  position: absolute;
  top: 130px;
  width: 1140px;
}

.index .dgzmk-fdd-wrapper {
  height: 166px;
  left: 0;
  position: absolute;
  top: 0;
  width: 380px;
}

.index .dgzmk-fdd {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/dg1zm2k-71066fdd-7241-408d-8b65-34b0fe0373ec-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 146px;
  left: 100px;
  position: relative;
  top: 10px;
  width: 180px;
}

.index .div-elementor-widget-17 {
  background-color: #0000008f;
  border: 1px solid;
  border-color: #ffffff;
  height: 166px;
  left: 380px;
  position: absolute;
  top: 0;
  width: 380px;
}

.index .heading-14 {
  height: 25px;
  left: 12px;
  position: absolute;
  top: 26px;
  width: 357px;
}

.index .text-wrapper-17 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 24.8px;
  font-weight: 500;
  height: 28px;
  left: 81px;
  letter-spacing: 3px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: -3px;
  white-space: nowrap;
  width: 195px;
}

.index .heading-15 {
  height: 25px;
  left: 12px;
  position: absolute;
  top: 71px;
  width: 357px;
}

.index .text-wrapper-18 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 24.2px;
  font-weight: 500;
  height: 28px;
  left: 5px;
  letter-spacing: 3px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: -3px;
  white-space: nowrap;
  width: 347px;
}

.index .heading-16 {
  height: 25px;
  left: 12px;
  position: absolute;
  top: 116px;
  width: 357px;
}

.index .text-wrapper-19 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 23.6px;
  font-weight: 500;
  height: 28px;
  left: 13px;
  letter-spacing: 3px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: -3px;
  white-space: nowrap;
  width: 330px;
}

.index .div-elementor-widget-18 {
  height: 166px;
  left: 760px;
  position: absolute;
  top: 0;
  width: 380px;
}

.index .dgzmk-fdd-2 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/dg1zm2k-71066fdd-7241-408d-8b65-34b0fe0373ec-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 146px;
  left: 100px;
  position: relative;
  top: 10px;
  transform: rotate(180deg);
  width: 180px;
}

.index .section-16 {
  background-color: #0000008f;
  border: 1px solid;
  border-color: #ffffff;
  height: 312px;
  position: absolute;
  top: 306px;
  width: 480px;
}

.index .heading-17 {
  height: 30px;
  left: 12px;
  position: absolute;
  top: 12px;
  width: 457px;
}

.index .text-wrapper-20 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 800;
  height: 42px;
  left: 155px;
  letter-spacing: 3px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: -7px;
  width: 148px;
}

.index .list-item-strong-wrapper {
  left: 46px;
  position: absolute;
}

.index .list-item-strong {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 249px;
  left: 0;
  letter-spacing: 3px;
  line-height: 30px;
  position: absolute;
  width: 342px;
}

.index .section-17 {
  background-color: #ffffff;
  height: 671px;
  left: 0;
  position: absolute;
}

.index .div-elementor-shape-5 {
  height: 70px;
  left: 0;
  position: absolute;
  top: -1px;
}

.index .div-elementor-shape-6 {
  height: 60px;
  left: 0;
  position: absolute;
  top: 612px;
}

.index .heading-CONTACT {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 40px;
  font-weight: 800;
  height: 40px;
  letter-spacing: 3px;
  line-height: 40px;
  position: absolute;
  text-align: center;
  top: 109px;
  white-space: nowrap;
  width: 236px;
}

.index .troll-face-gif-2 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/troll-face-44-gif.gif);
  background-position: 50% 50%;
  background-size: cover;
  height: 291px;
  position: absolute;
  top: 170px;
  width: 448px;
}

.index .link-8 {
  height: 80px;
  position: absolute;
  top: 481px;
  width: 80px;
}

.index .link-9 {
  height: 80px;
  position: absolute;
  top: 481px;
  width: 80px;
}

.index .link-10 {
  height: 80px;
  position: absolute;
  top: 481px;
  width: 80px;
}

.index .section-18 {
  background-color: #000000;
  height: 88px;
  left: 0;
  position: absolute;
}

.index .heading-trollerc {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 18px;
  letter-spacing: 3px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: 208px;
}

.index .heading-by {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 15.8px;
  font-weight: 600;
  height: 18px;
  letter-spacing: 3px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 50px;
  white-space: nowrap;
  width: 398px;
}

.index .section-19 {
  background: radial-gradient(50% 50% at 50% 50%, rgb(160, 160, 160) 0%, rgb(255, 255, 255) 70%);
  left: 0;
  position: absolute;
}

.index .div-elementor-shape-7 {
  height: 60px;
  left: 0;
  position: absolute;
  top: -1px;
}

.index .heading-listed-in-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  letter-spacing: 3px;
  position: absolute;
  text-align: center;
}

.index .section-20 {
  left: 10px;
  position: absolute;
  top: 220px;
}

.index .link-full-gate-io-wrapper {
  left: 0;
  position: absolute;
  top: 0;
}

.index .link-full-gate-io-2 {
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .div-elementor-column-9 {
  position: absolute;
  top: 0;
}

.index .link-HTX-logo-2 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---htx-logo-e1705957924474-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .div-elementor-column-10 {
  position: absolute;
  top: 0;
}

.index .link-11 {
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .div-elementor-column-11 {
  position: absolute;
}

.index .link-full-lbank-logo-2 {
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .div-elementor-column-12 {
  position: absolute;
}

.index .link-12 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---16450-6702b0f285393-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .div-elementor-column-13 {
  position: absolute;
}

.index .link-full-bitmart-2 {
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .section-21 {
  left: 10px;
  position: absolute;
}

.index .div-elementor-column-14 {
  left: 0;
  position: absolute;
  top: 0;
}

.index .link-13 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---f9c66e7dd1c6e518ba49b8a037a386c2-removebg-preview-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .div-elementor-column-15 {
  position: absolute;
  top: 0;
}

.index .link-screenshot-5 {
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .div-elementor-column-16 {
  position: absolute;
  top: 0;
}

.index .link-screenshot-6 {
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .div-elementor-column-17 {
  position: absolute;
}

.index .link-14 {
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .link-review-cfdac-wrapper {
  position: absolute;
}

.index .link-review-cfdac {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---review-c0fd20ac-795f-4d10-afd3-189660698534-image-0-85396@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .div-elementor-column-18 {
  position: absolute;
}

.index .link-download-2 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---download-removebg-preview-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .section-22 {
  left: 10px;
  position: absolute;
}

.index .div-elementor-column-19 {
  left: 0;
  position: absolute;
  top: 0;
}

.index .link-bitrue-logo-2 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---bitrue-logo-1-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .div-elementor-column-20 {
  position: absolute;
  top: 0;
}

.index .link-full-poloniex-2 {
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .div-elementor-column-21 {
  position: absolute;
  top: 0;
}

.index .link-screenshot-7 {
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .div-elementor-column-22 {
  position: absolute;
}

.index .link-images-removebg-2 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---images-removebg-preview-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .div-elementor-column-23 {
  position: absolute;
}

.index .link-full-tapbit-2 {
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .div-elementor-column-24 {
  position: absolute;
}

.index .link-15 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---1-mklrvwquoktlm08i6l8x6q-removebg-preview-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .div-elementor-column-25 {
  position: absolute;
}

.index .link-screenshot-8 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/link---screenshot-3-removebg-preview-1-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .div-elementor-column-26 {
  position: absolute;
}

.index .link-digifinex-svg-2 {
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .section-23 {
  background-color: #ffffff;
  left: 0;
  position: absolute;
}

.index .div-elementor-shape-8 {
  height: 60px;
  left: 0;
  position: absolute;
  top: -1px;
}

.index .div-elementor-shape-9 {
  height: 60px;
  left: 0;
  position: absolute;
}

.index .div-elementor-9 {
  left: 0;
  position: absolute;
  top: 100px;
}

.index .div-elementor-widget-19 {
  left: 0;
  position: absolute;
  top: 0;
}

.index .div-3 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/a84eca7b65b0afcc6c17ffcaa2b23ee4-jpg.png);
  background-position: 50% 50%;
  background-size: cover;
  left: 10px;
  position: relative;
  top: 10px;
}

.index .div-elementor-widget-20 {
  position: absolute;
}

.index .overlap-group-2 {
  left: 10px;
  position: absolute;
}

.index .text-wrapper-21 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  letter-spacing: 3px;
  position: absolute;
  text-align: center;
}

.index .heading-18 {
  height: 266px;
  left: 0;
  position: absolute;
  top: 106px;
  width: 485px;
}

.index .TROLL-COIN-is-a-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 228px;
  left: 0;
  letter-spacing: 3px;
  line-height: 30px;
  position: absolute;
  top: 17px;
  width: 485px;
}

.index .heading-19 {
  height: 199px;
  left: 15px;
  position: absolute;
  top: 50px;
  width: 360px;
}

.index .TROLL-COIN-is-a-3 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 700;
  height: 199px;
  left: 0;
  letter-spacing: 3px;
  line-height: 20px;
  position: absolute;
  top: -1px;
  width: 360px;
}

.index .screenshot-png-2 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/screenshot-7-png.png);
  background-position: 50% 50%;
  background-size: cover;
  left: 10px;
  position: absolute;
}

.index .section-24 {
  background-color: #000000;
  left: 0;
  position: absolute;
}

.index .heading-HOW-TO-BUY-2 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  letter-spacing: 3px;
  position: absolute;
  text-align: center;
  top: 59px;
  white-space: nowrap;
}

.index .section-25 {
  background-color: #0000008f;
  border: 1px solid;
  border-color: #ffffff;
  left: 10px;
  position: absolute;
}

.index .div-elementor-10 {
  left: 17px;
  position: relative;
  top: 17px;
}

.index .div-elementor-widget-21 {
  height: 158px;
  left: 0;
  position: absolute;
  top: 0;
}

.index .untitled-design-3 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/untitled-design-2023-03-30t212906-738-webp@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 138px;
  position: relative;
  top: 10px;
  width: 138px;
}

.index .div-elementor-widget-22 {
  position: absolute;
}

.index .heading-20 {
  height: 30px;
  left: 10px;
  position: absolute;
  top: 10px;
}

.index .text-wrapper-22 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 800;
  height: 42px;
  letter-spacing: 3px;
  line-height: 30px;
  position: absolute;
  top: -7px;
  width: 298px;
}

.index .heading-21 {
  left: 10px;
  position: absolute;
  top: 60px;
}

.index .download-metamask-or-2 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  left: 0;
  letter-spacing: 3px;
  line-height: 22px;
  position: absolute;
  top: -3px;
}

.index .section-26 {
  background-color: #0000008f;
  border: 1px solid;
  border-color: #ffffff;
  left: 10px;
  position: absolute;
}

.index .div-elementor-11 {
  left: 17px;
  position: relative;
  top: 17px;
}

.index .div-elementor-widget-23 {
  height: 158px;
  left: 0;
  position: absolute;
  top: 0;
}

.index .untitled-design-4 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/untitled-design-2023-03-30t213620-680-webp@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 138px;
  position: relative;
  top: 10px;
  width: 138px;
}

.index .div-elementor-widget-24 {
  position: absolute;
}

.index .heading-22 {
  height: 30px;
  left: 10px;
  position: absolute;
  top: 10px;
}

.index .text-wrapper-23 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 800;
  height: 42px;
  letter-spacing: 3px;
  line-height: 30px;
  position: absolute;
  top: -7px;
  width: 275px;
}

.index .heading-23 {
  left: 10px;
  position: absolute;
  top: 60px;
}

.index .have-BNB-in-your-2 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  left: 0;
  letter-spacing: 3px;
  line-height: 22px;
  position: absolute;
  top: -3px;
}

.index .section-27 {
  background-color: #0000008f;
  border: 1px solid;
  border-color: #ffffff;
  left: 10px;
  position: absolute;
}

.index .div-elementor-12 {
  left: 17px;
  position: relative;
  top: 17px;
}

.index .div-elementor-widget-25 {
  left: 0;
  position: absolute;
  top: 0;
}

.index .uniswap-webp-2 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/uniswap-2-webp@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  height: 138px;
  position: relative;
  width: 138px;
}

.index .div-elementor-widget-26 {
  position: absolute;
}

.index .heading-24 {
  height: 30px;
  left: 10px;
  position: absolute;
  top: 10px;
}

.index .text-wrapper-24 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 3px;
  line-height: 30px;
  position: absolute;
}

.index .heading-25 {
  left: 10px;
  position: absolute;
  top: 60px;
}

.index .connect-to-2 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  left: 0;
  letter-spacing: 3px;
  line-height: 22px;
  position: absolute;
  top: -3px;
}

.index .section-28 {
  background-color: #0000008f;
  border: 1px solid;
  border-color: #ffffff;
  left: 10px;
  position: absolute;
}

.index .div-elementor-13 {
  left: 17px;
  position: relative;
  top: 17px;
}

.index .div-elementor-widget-27 {
  left: 0;
  position: absolute;
  top: 0;
}

.index .trollface-png-6 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/trollface-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
}

.index .div-elementor-widget-28 {
  position: absolute;
}

.index .switch-BNB-for-troll-wrapper {
  left: 10px;
  position: absolute;
  top: 10px;
}

.index .switch-BNB-for-troll {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 3px;
  line-height: 30px;
  position: absolute;
  top: -7px;
}

.index .heading-26 {
  left: 10px;
  position: absolute;
}

.index .switch-BNB-for-TROLL-2 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-weight: 400;
  left: 0;
  letter-spacing: 3px;
  line-height: 22px;
  position: absolute;
  top: -3px;
}

.index .section-29 {
  background-color: #ffffff;
  left: 0;
  position: absolute;
}

.index .div-elementor-shape-10 {
  height: 60px;
  left: 0;
  position: absolute;
  top: -1px;
}

.index .div-elementor-shape-11 {
  height: 60px;
  left: 0;
  position: absolute;
}

.index .heading-TOKENOMICS-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  letter-spacing: 3px;
  position: absolute;
  text-align: center;
  top: 109px;
  white-space: nowrap;
}

.index .section-30 {
  background-color: #000000;
  border: 1px solid;
  left: 10px;
  position: absolute;
}

.index .div-elementor-14 {
  left: 2px;
  position: relative;
  top: 2px;
}

.index .div-elementor-widget-29 {
  left: 0;
  position: absolute;
  top: 0;
}

.index .heading-27 {
  height: 30px;
  left: 20px;
  position: absolute;
}

.index .text-wrapper-25 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 800;
  height: 42px;
  letter-spacing: 3px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: -7px;
  width: 255px;
}

.index .heading-28 {
  height: 30px;
  left: 20px;
  position: absolute;
}

.index .text-wrapper-26 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-weight: 700;
  height: 34px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: -3px;
  white-space: nowrap;
}

.index .heading-29 {
  left: 20px;
  position: absolute;
}

.index .tax-sell-tax-buy-2 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 800;
  letter-spacing: 3px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: -7px;
}

.index .div-elementor-column-27 {
  position: absolute;
}

.index .div-elementor-widget-30 {
  background-color: #ffffff;
  left: 30px;
  position: relative;
  top: 30px;
}

.index .troll-face-gif-3 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/troll-face-44-gif.gif);
  background-position: 50% 50%;
  background-size: cover;
}

.index .overlap-group-wrapper {
  background-color: #000000;
  left: 0;
  position: absolute;
}

.index .overlap-group-3 {
  position: relative;
}

.index .div-elementor-15 {
  background-color: #000000;
  left: 0;
  opacity: 0.5;
  position: absolute;
  top: 0;
}

.index .heading-ROADMAP-2 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  letter-spacing: 3px;
  position: absolute;
  text-align: center;
  top: 59px;
  white-space: nowrap;
}

.index .section-31 {
  left: 10px;
  position: absolute;
}

.index .div-elementor-widget-31 {
  left: 0;
  position: absolute;
  top: 0;
}

.index .dgzmk-fdd-3 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/dg1zm2k-71066fdd-7241-408d-8b65-34b0fe0373ec-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  top: 10px;
}

.index .div-elementor-widget-32 {
  background-color: #0000008f;
  border: 1px solid;
  border-color: #ffffff;
  position: absolute;
}

.index .heading-30 {
  height: 25px;
  left: 12px;
  position: absolute;
  top: 12px;
}

.index .text-wrapper-27 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  height: 28px;
  letter-spacing: 3px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: -3px;
  white-space: nowrap;
  width: 195px;
}

.index .phase-troll-and-wrapper {
  height: 50px;
  left: 12px;
  position: absolute;
  top: 57px;
}

.index .phase-troll-and {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  height: 53px;
  letter-spacing: 3px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: -3px;
  width: 256px;
}

.index .phase-troll-wrapper {
  left: 12px;
  position: absolute;
  top: 127px;
}

.index .phase-troll {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-weight: 500;
  letter-spacing: 3px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: -3px;
}

.index .div-elementor-widget-33 {
  position: absolute;
}

.index .dgzmk-fdd-4 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/dg1zm2k-71066fdd-7241-408d-8b65-34b0fe0373ec-png@2x.png);
  background-position: 50% 50%;
  background-size: cover;
  position: relative;
  top: 10px;
  transform: rotate(180deg);
}

.index .section-32 {
  background-color: #0000008f;
  border: 1px solid;
  border-color: #ffffff;
  position: absolute;
}

.index .heading-31 {
  height: 30px;
  left: 12px;
  position: absolute;
  top: 12px;
}

.index .text-wrapper-28 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 30px;
  font-weight: 800;
  height: 42px;
  letter-spacing: 3px;
  line-height: 30px;
  position: absolute;
  text-align: center;
  top: -7px;
  width: 148px;
}

.index .div-elementor-16 {
  height: 249px;
  position: absolute;
}

.index .list-item-strong-2 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 20px;
  font-weight: 700;
  height: 249px;
  left: 0;
  letter-spacing: 3px;
  line-height: 30px;
  position: absolute;
  top: -1px;
  width: 342px;
}

.index .section-33 {
  background-color: #ffffff;
  left: 0;
  position: absolute;
}

.index .div-elementor-shape-12 {
  height: 70px;
  left: 0;
  position: absolute;
  top: -1px;
}

.index .div-elementor-shape-13 {
  height: 60px;
  left: 0;
  position: absolute;
}

.index .heading-CONTACT-2 {
  color: #000000;
  font-family: "Inter", Helvetica;
  font-weight: 800;
  letter-spacing: 3px;
  position: absolute;
  text-align: center;
  top: 109px;
  white-space: nowrap;
}

.index .troll-face-gif-4 {
  background-image: url(https://cdn.animaapp.com/projects/65b1efbf6a87a05006909570/releases/65b21433ded9bf6dcc6064c0/img/troll-face-44-gif.gif);
  background-position: 50% 50%;
  background-size: cover;
  position: absolute;
}

.index .link-16 {
  position: absolute;
}

.index .link-17 {
  position: absolute;
}

.index .link-18 {
  position: absolute;
}

.index .section-34 {
  background-color: #000000;
  left: 0;
  position: absolute;
}

.index .heading-32 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 16px;
  font-weight: 600;
  height: 18px;
  letter-spacing: 3px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 18px;
  white-space: nowrap;
  width: 208px;
}

.index .heading-by-2 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  letter-spacing: 3px;
  line-height: 16px;
  position: absolute;
  text-align: center;
  top: 50px;
}
